body{
    background-color: #EEE;
}
input[type=text]{
    padding: 10px;
    font-size: 14px;
}

.azul{
    background-color: #00F;
    color: #FFF;
}

.vermelho{
    background-color: #F00;
    color: #FFF;
}
.verde{
    background-color: #0F0;
    color: #000;
}

#telefone{
    display: none;
}